# Анализ полноты метаданных базы данных Dateno

Период получения файла полной таблицы: **конец марта 2025**
(нет данных по Kaggle и Hugging Face: по ним представлен отдельный анализ)

Изучаемый файл: **fulldb.parquet**

In [10]:
#настройка соединения с duckdb
import duckdb as dd
conn = dd.connect()

import pandas as pd

In [4]:
#чтение файла и подсчет количества строк
conn.sql("""
    SELECT
        COUNT(*)
    FROM 'fulldb.parquet';
        """)

┌──────────────┐
│ count_star() │
│    int64     │
├──────────────┤
│     22102587 │
└──────────────┘

В таблице содержатся метаданные по **22,1 млн** датасетов.

In [8]:
#просмотр таблицы в колоночном виде

conn.sql("""
SELECT * 
FROM 'fulldb.parquet';
        """)

┌──────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────┬──────────────────────────────────────┬─────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────┬──────────────────────────────────────────────────────────────────┬──────────────────────────────┐
│                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                     dataset                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                      │                int_id                │                                                                                                                                                                                                                                             source                                                                                                                                                                                                                                              │                                id                                │            scores            │
│                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            struct(id json, num_resources bigint, url varchar, title json, description varchar, has_archive boolean, responsible struct(title json, id varchar, "role" varchar)[], topics_original varchar[], formats varchar[], tags json[], license_id varchar, license_name varchar, license_url varchar, topics varchar[], geotopics varchar[], date_created varchar, date_changed json, short_text varchar, datatypes varchar[], frequency varchar, year_range struct("start" json, "end" json))                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                             │               varchar                │                           struct(uid varchar, "name" varchar, catalog_type varchar, owner_name varchar, owner_type varchar, url varchar, software struct(id varchar, "name" varchar), langs struct(id varchar, "name" varchar)[], countries struct(id varchar, "name" varchar, "level" bigint, subregion struct(id varchar, "name" varchar))[], macroregions struct(id varchar, "name" varchar)[], subregions struct(id varchar, "name" varchar)[], "schema" varchar)                           │                             varchar                              │ struct(feature_score bigint) │
├──────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────┼──────────────────────────────────────┼─────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────┼──────────────────────────────────────────────────────────────────┼──────────────────────────────┤
│ {'id': "015413da-0e13-499b-a2d5-e7dcb0bc3c9b", 'num_resources': 1, 'url': https://opendata.fcsc.gov.ae/dataset/prevalence-of-obesity-in-the-uae, 'title': "Prevalence of Obesity in the UAE", 'description': Method of calculation: (Total number of the population aged 18 years and older with a BMI of 30 or greater) divided by the total number of the population aged 18 years and older, multiplied by 100., 'has_archive': false, 'responsible': [{'title': "Ministry of Health and Prevention", 'id': ministry-health-and-prevention, 'role': Publisher}], 'topics_original': [Health Care, Health Outcome], 'formats': [.xlsx], 'tags': ["Health Data", "Obesity Rate"], 'license_id': cc-by, 'license_name': Creative Commons Attribution, 'license_url': NULL, 'topics': [Health], 'geotopics': [Health], 'date_created': 2024-06-25T05:32:20.830755, 'date_changed': "2024-08-28T06:58:32.621752", 'short_text': Method of calculation: (Total number of the population aged 18 years, 'datatypes': [data], 'frequency': NULL, 'year_range': NULL}                                                                                                                                                                                                                                                                                                                                                                                                                                                                                  │ 015413da-0e13-499b-a2d5-e7dcb0bc3c9b │ {'uid': cdi00000003, 'name': UAE Open Data (Portaljs), 'catalog_type': Open data portal, 'owner_name': Government of UAE, 'owner_type': Central government, 'url': https://opendata.fcsc.gov.ae, 'software': {'id': ckan, 'name': CKAN}, 'langs': [{'id': EN, 'name': English}], 'countries': [{'id': AE, 'name': United Arab Emirates, 'level': NULL, 'subregion': NULL}], 'macroregions': [{'id': 145, 'name': Western Asia}], 'subregions': [], 'schema': ckan}                              │ 81d9b23018b33cedd3db41b718e04cdcb96f6d6fa7a68baf8949937ea660dc80 │ {'feature_score': 135}       │
│ {'id': "b161c60b-ae4c-490a-b506-460aea6f564d", 'num_resources': 1, 'url': https://opendata.fcsc.gov.ae/dataset/uae-contraceptive-prevalence-rate, 'title': "UAE Contraceptive Prevalence Rate by emirates", 'description': This dataset showcases contraceptive prevalence rate in the United Arab Emirates disaggregated by emirates for the period 2017 - 2022\r\n\r\nSecond administrative level data is currently not available. However, we are actively working on expanding our data offerings and it is part of our future plans to include this level of detailed information\r\nMethod of calculation: (Total number of women aged 15-49 years, married or in-union, who are currently using, or whose sexual partner is using, at least one method of contraception, regardless of the method used) divided by the total number of women aged 15-49 years, married or in-union, multiplied by 100\r\n, 'has_archive': false, 'responsible': [{'title': "Ministry of Health and Prevention", 'id': ministry-health-and-prevention, 'role': Publisher}], 'topics_original': [Health Care, Reproductive Health], 'formats': [.xlsx], 'tags': ["Health Data"], 'license_id': cc-by, 'license_name': Creative Commons Attribution, 'license_url': NULL, 'topics': [Health], 'geotopics': [Health], 'date_created': 2024-06-04T18:31:34.763803, 'date_changed': "2024-08-28T06:53:42.899121", 'short_text': This dataset showcases contraceptive prevalence rate in the United, 'datatypes': [data], 'frequency': NULL, 'year_range': NULL} │ b161c60b-ae4c-490a-b506-460aea6f564d │ {'uid': cdi00000003, 'name': UAE Open Data (Portaljs), 'catalog_type': Open data portal, 'owner_name': Government of UAE, 'owner_type': Central government, 'url': https://opendata.fcsc.gov.ae, 'software': {'id': ckan, 'name': CKAN}, 'langs': [{'id': EN, 'name': English}], 'countries': [{'id': AE, 'name': United Arab Emirates, 'level': NULL, 'subregion': NULL}], 'macroregions': [{'id': 145, 'name': Western Asia}], 'subregions': [], 'schema': ckan}                              │ 3429cce79f577e2578e279e4d1dfa6f3a270f0277d572e8e4fe70905793f13cc │ {'feature_score': 135}       │
│ {'id': "b78880c7-b0d5-4099-8b96-efd5b7b4fa1c", 'num_resources': 3, 'url': https://opendata.fcsc.gov.ae/dataset/greenhouse-gas-emissions-in-the-united-arab-emirates, 'title': "Greenhouse Gas Emissions in the United Arab Emirates", 'description': The dataset represents the rate of greenhouse gas emissions in the United Arab Emirates, classified by the gas type group and the gas usage type. The dataset covers the period from 2013 to 2021., 'has_archive': false, 'responsible': [{'title': "Ministry Of Climate Change & Environment", 'id': ministry-climate-change-environment, 'role': Publisher}], 'topics_original': [Air Quality, Environment, Goal 13: Climate Action, Natural Environment, Sustainable Development Goals], 'formats': [.xlsx], 'tags': ["Air Pollution", "Air Quality", "Natural Gas", "Oil and Gas"], 'license_id': cc-by, 'license_name': Creative Commons Attribution, 'license_url': NULL, 'topics': [Environment], 'geotopics': [Environment], 'date_created': 2022-07-03T18:52:04.982776, 'date_changed': "2024-08-26T07:14:27.090588", 'short_text': The dataset represents the rate of greenhouse gas emissions in the, 'datatypes': [data], 'frequency': NULL, 'year_range': NULL}                                                                                                                                                                                                                                                                                                                │ b78880c7-b0d5-4099-8b96-efd5b7b4fa1c │ {'uid': cdi00000003, 'name': UAE Open Data (Portaljs), 'catalog_type': Open data portal, 'owner_name': Government of UAE, 'owner_type': Central government, 'url': https://opendata.fcsc.gov.ae, 'software': {'id': ckan, 'name': CKAN}, 'langs': [{'id': EN, 'name': English}], 'countries': [{'id': AE, 'name': United Arab Emirates, 'level': NULL, 'subregion': NULL}], 'macroregions': [{'id': 145, 'name': Western Asia}], 'subregions': [], 'schema': ckan}                              │ ca4bcc10e55b28f7880cbc93f4ac681b207e40e968159a7d9ab3ff664f28822c │ {'feature_score': 135}       │
│ {'id': "5cb70ddb-3b1a-459f-aa05-a4fa9a294de6", 'num_resources': 2, 'url': https://opendata.fcsc.gov.ae/dataset/average-of-air-pollutants-concentration-by-monitoring-station, 'title': "Average of Air Pollutants Concentration by Monitoring Station", 'description': The dataset shows the Annual Average of Air Pollutants Concentration, classified by Pollutant Type, and the location of the Air Monitoring Station in the main Emirates which has monitoring stations, for the period from the year 2011 to 2022.\r\n\r\nMethod of Calculation: Average of air pollutants concentration \r\nNote: The emirate of Fujairah has no active stations since 2012 also, Umm Al Quwain has no active stations from 2011 to 2019, The total reflects the average value., 'has_archive': false, 'responsible': [{'title': "Federal Competitiveness and Statistics Center", 'id': federal-competitiveness-and-statistics-center, 'role': Publisher}], 'topics_original': [Air Quality], 'formats': [.xlsx], 'tags': ["Air Pollution", "Air Quality", "Weather"], 'license_id': cc-by, 'license_name': Creative Commons Attribution, 'license_url': NULL, 'topics': [], 'geotopics': [], 'date_created': 2022-07-04T07:37:49.281037, 'date_changed': "2024-08-23T08:41:17.671745", 'short_text': The dataset shows the Annual Average of Air Pollutants Concentration,, 'datatypes': [data], 'frequency': NULL, 'year_range': NULL}                                                                                                                  │ 5cb70ddb-3b1a-459f-aa05-a4fa9a294de6 │ {'uid': cdi00000003, 'name': UAE Open Data (Portaljs), 'catalog_type': Open data portal, 'owner_name': Government of UAE, 'owner_type': Central government, 'url': https://opendata.fcsc.gov.ae, 'software': {'id': ckan, 'name': CKAN}, 'langs': [{'id': EN, 'name': English}], 'countries': [{'id': AE, 'name': United Arab Emirates, 'level': NULL, 'subregion': NULL}], 'macroregions': [{'id': 145, 'name': Western Asia}], 'subregions': [], 'schema': ckan}                              │ e3f674dc9081c09e272c63cf69f8c2d9d7f5220321d4fa6f3b76c5956a8604f7 │ {'feature_score': 125}       │
│ {'id': "cd36f655-0a4a-4d85-a1c1-3eb81cefc400", 'num_resources': 3, 'url': https://opendata.fcsc.gov.ae/dataset/food-insecurity-scale, 'title': "Food Insecurity Scale in the UAE", 'description': The food insecurity dataset is defined as the DSG indicator 2.1.2: Prevalence of moderate or severe food insecurity in the population, based on the Food Insecurity Experience Scale which was prepared with the SDG team to find the response of people who feel that they face food insecurity. The data is classified based on Food Insecurity scale and on Gender. The data covers the year 2021. As per the agreement with Food and Agriculture Organization to have 2021 as the base year for food insecurity data in the UAE., 'has_archive': false, 'responsible': [{'title': "Federal Competitiveness and Statistics Center", 'id': federal-competitiveness-and-statistics-center, 'role': Publisher}], 'topics_original': [Food Security], 'formats': [.xlsx], 'tags': ["Food Control", "Food Products"], 'license_id': cc-by, 'license_name': Creative Commons Attribution, 'license_url': NULL, 'topics': [], 'geotopics': [], 'date_created': 2022-07-05T07:00:40.218557, 'date_changed': "2024-08-23T07:53:43.385504", 'short_text': The food insecurity dataset is defined as the DSG indicator 2.1.2:, 'datatypes': [data], 'frequency': NULL, 'year_range': NULL}                                                                                                                                                             │ cd36f655-0a4a-4d85-a1c1-3eb81cefc400 │ {'uid': cdi00000003, 'name': UAE Open Data (Portaljs), 'catalog_type': Open data portal, 'owner_name': Government of UAE, 'owner_type': Central government, 'url': https://opendata.fcsc.gov.ae, 'software': {'id': ckan, 'name': CKAN}, 'langs': [{'id': EN, 'name': English}], 'countries': [{'id': AE, 'name': United Arab Emirates, 'level': NULL, 'subregion': NULL}], 'macroregions': [{'id': 145, 'name': Western Asia}], 'subregions': [], 'schema': ckan}                              │ 9fcb66420f8e37c7bb3ab4ad2fab569428ac641e1131735d26606ec9a61eab51 │ {'feature_score': 125}       │

In [ ]:
#преобразуем таблицу в датафрейм и просмотрим таблицу по датасетам (первые 5 строчек)

df_dataset = conn.sql("""
    SELECT
    unnest(dataset)
    FROM 'fulldb.parquet'
    LIMIT 1000
""").df()

df_dataset.head()

,id,num_resources,url,title,description,has_archive,responsible,topics_original,formats,tags,...,license_name,license_url,topics,geotopics,date_created,date_changed,short_text,datatypes,frequency,year_range
0,"""015413da-0e13-499b-a2d5-e7dcb0bc3c9b""",1,https://opendata.fcsc.gov.ae/dataset/prevalenc...,"""Prevalence of Obesity in the UAE""",Method of calculation: (Total number of the po...,False,"[{'title': '""Ministry of Health and Prevention...","[Health Care, Health Outcome]",[.xlsx],"[""Health Data"", ""Obesity Rate""]",...,Creative Commons Attribution,None,[Health],[Health],2024-06-25T05:32:20.830755,"""2024-08-28T06:58:32.621752""",Method of calculation: (Total number of the po...,[data],None,<NA>
1,"""b161c60b-ae4c-490a-b506-460aea6f564d""",1,https://opendata.fcsc.gov.ae/dataset/uae-contr...,"""UAE Contraceptive Prevalence Rate by emirates""",This dataset showcases contraceptive prevalenc...,False,"[{'title': '""Ministry of Health and Prevention...","[Health Care, Reproductive Health]",[.xlsx],"[""Health Data""]",...,Creative Commons Attribution,None,[Health],[Health],2024-06-04T18:31:34.763803,"""2024-08-28T06:53:42.899121""",This dataset showcases contraceptive prevalenc...,[data],None,<NA>
2,"""b78880c7-b0d5-4099-8b96-efd5b7b4fa1c""",3,https://opendata.fcsc.gov.ae/dataset/greenhous...,"""Greenhouse Gas Emissions in the United Arab E...",The dataset represents the rate of greenhouse ...,False,"[{'title': '""Ministry Of Climate Change & Envi...","[Air Quality, Environment, Goal 13: Climate Ac...",[.xlsx],"[""Air Pollution"", ""Air Quality"", ""Natural Gas""...",...,Creative Commons Attribution,None,[Environment],[Environment],2022-07-03T18:52:04.982776,"""2024-08-26T07:14:27.090588""",The dataset represents the rate of greenhouse ...,[data],None,<NA>
3,"""5cb70ddb-3b1a-459f-aa05-a4fa9a294de6""",2,https://opendata.fcsc.gov.ae/dataset/average-o...,"""Average of Air Pollutants Concentration by Mo...",The dataset shows the Annual Average of Air Po...,False,"[{'title': '""Federal Competitiveness and Stati...",[Air Quality],[.xlsx],"[""Air Pollution"", ""Air Quality"", ""Weather""]",...,Creative Commons Attribution,None,[],[],2022-07-04T07:37:49.281037,"""2024-08-23T08:41:17.671745""",The dataset shows the Annual Average of Air Po...,[data],None,<NA>
4,"""cd36f655-0a4a-4d85-a1c1-3eb81cefc400""",3,https://opendata.fcsc.gov.ae/dataset/food-inse...,"""Food Insecurity Scale in the UAE""",The food insecurity dataset is defined as the ...,False,"[{'title': '""Federal Competitiveness and Stati...",[Food Security],[.xlsx],"[""Food Control"", ""Food Products""]",...,Creative Commons Attribution,None,[],[],2022-07-05T07:00:40.218557,"""2024-08-23T07:53:43.385504""",The food insecurity dataset is defined as the ...,[data],None,<NA>

In [11]:
#преобразуем таблицу в датафрейм и просмотрим таблицу по источникам (первые 5 строчек)
df_source = conn.sql("""
    SELECT
    unnest(source)
    FROM 'fulldb.parquet'
    LIMIT 10
""").df()

df_source.head()

,uid,name,catalog_type,owner_name,owner_type,url,software,langs,countries,macroregions,subregions,schema
0,cdi00000003,UAE Open Data (Portaljs),Open data portal,Government of UAE,Central government,https://opendata.fcsc.gov.ae,"{'id': 'ckan', 'name': 'CKAN'}","[{'id': 'EN', 'name': 'English'}]","[{'id': 'AE', 'name': 'United Arab Emirates', ...","[{'id': '145', 'name': 'Western Asia'}]",[],ckan
1,cdi00000003,UAE Open Data (Portaljs),Open data portal,Government of UAE,Central government,https://opendata.fcsc.gov.ae,"{'id': 'ckan', 'name': 'CKAN'}","[{'id': 'EN', 'name': 'English'}]","[{'id': 'AE', 'name': 'United Arab Emirates', ...","[{'id': '145', 'name': 'Western Asia'}]",[],ckan
2,cdi00000003,UAE Open Data (Portaljs),Open data portal,Government of UAE,Central government,https://opendata.fcsc.gov.ae,"{'id': 'ckan', 'name': 'CKAN'}","[{'id': 'EN', 'name': 'English'}]","[{'id': 'AE', 'name': 'United Arab Emirates', ...","[{'id': '145', 'name': 'Western Asia'}]",[],ckan
3,cdi00000003,UAE Open Data (Portaljs),Open data portal,Government of UAE,Central government,https://opendata.fcsc.gov.ae,"{'id': 'ckan', 'name': 'CKAN'}","[{'id': 'EN', 'name': 'English'}]","[{'id': 'AE', 'name': 'United Arab Emirates', ...","[{'id': '145', 'name': 'Western Asia'}]",[],ckan
4,cdi00000003,UAE Open Data (Portaljs),Open data portal,Government of UAE,Central government,https://opendata.fcsc.gov.ae,"{'id': 'ckan', 'name': 'CKAN'}","[{'id': 'EN', 'name': 'English'}]","[{'id': 'AE', 'name': 'United Arab Emirates', ...","[{'id': '145', 'name': 'Western Asia'}]",[],ckan

## Проверка на полноту метаданных

Оценим заполенность поля **topics** в разрезе:
- источников данных
- типов программного обеспечения каталога
- типов каталогов

### Срез по источникам данных

In [14]:
df_stat = conn.sql("""
 
        SELECT
             source.uid as uid,
             source.name as name,
             source.url as url,
             SUM(CASE WHEN dataset.topics = [] THEN 1 END) as "Число датасетов без topics",
             COUNT(dataset.id) as "Число датасетов",
             (SUM(CASE WHEN dataset.topics = [] THEN 1 END))/(COUNT(dataset.id))*100 as "Доля без topics"
        FROM 'fulldb.parquet'
        GROUP BY 1, 2, 3
        ORDER BY 4 DESC;
    
    
""").df()

df_stat

FloatProgress(value=0.0, layout=Layout(width='auto'), style=ProgressStyle(bar_color='black'))

,uid,name,url,Число датасетов без topics,Число датасетов,Доля без topics
0,cdi00004409,ECB Data portal,https://data.ecb.europa.eu,2979490.0,2979490,100.000000
1,cdi00004185,World Bank Open Data,https://data.worldbank.org,2570195.0,4833586,53.173669
2,cdi00000602,B2FIND,https://b2find.eudat.eu,807007.0,1367900,58.996052
3,temp00004800,data.amerigeoss.org,https://data.amerigeoss.org,572855.0,652685,87.768985
4,cdi00001976,The Global Health Observatory,https://www.who.int/data/gho/data/indicators,328876.0,328876,100.000000
...,...,...,...,...,...,...
5137,cdi00000963,Comune di Bologna Open Data,https://opendata.comune.bologna.it,NaN,652,NaN
5138,cdi00001098,Lithuanian Data Archive for Social Sciences an...,https://lida.dataverse.lt,NaN,446,NaN
5139,cdi00003300,Citizen Problem Center,https://citizen-problem-reporter-2-sidwell.hub...,NaN,20,NaN
5140,cdi00003306,Citizen Problem Center,https://citizen-problem-reporter-timmons-group...,NaN,60,NaN
5141,cdi00003641,Idaho State Department of Agriculture Open Data,https://idaho-department-of-agriculture-open-d...,NaN,50,NaN

### Срез по типу ПО каталога

In [18]:
df_software = conn.sql(""" 
    SELECT
        source.software.name, 
        SUM(CASE WHEN dataset.topics = [] THEN 1 END) as "Число датасетов без topics",
        COUNT(dataset.id) as "Число датасетов",
        (SUM(CASE WHEN dataset.topics = [] THEN 1 END))/(COUNT(dataset.id))*100 as "Доля без topics"
    FROM 'fulldb.parquet' 
    GROUP BY 1
    ORDER BY 4 DESC;
""").df()

df_software

,name,Число датасетов без topics,Число датасетов,Доля без topics
0,Ilostat website,167605.0,167605,100.000000
1,ECB data portal,2979490.0,2979490,100.000000
2,ncWMS,2441.0,2441,100.000000
3,Invenio,14368.0,14368,100.000000
4,NADA,25891.0,25891,100.000000
5,WTO.int website,328876.0,328876,100.000000
6,Openml.org platform,5731.0,5731,100.000000
7,ArcGIS Server,888925.0,888925,100.000000
8,GeoServer,470156.0,473483,99.297335
9,Geonode,102.0,103,99.029126
10,uData,10642.0,10920,97.454212
11,Aleph,319.0,328,97.256098
12,InvenioRDM,4058.0,4319,93.956934
13,Pycsw,9.0,10,90.000000
14,GeoNode,129512.0,155066,83.520565
15,ArcGIS Hub,184286.0,260923,70.628500
16,Socrata,89925.0,133115,67.554370
17,Custom software,132095.0,210540,62.741047
18,CKAN,3635107.0,5816283,62.498799
19,PxWeb,35797.0,57889,61.837309
20,Koordinates,3531.0,6522,54.139834
21,Data.WorldBank.org platform,2570195.0,4833586,53.173669
22,Erddap,17384.0,34577,50.276195
23,DKAN,26504.0,57466,46.121185
24,OpenDataSoft,8783.0,20820,42.185399
25,Dataverse,170847.0,446034,38.303582
26,Geonetwork,816666.0,3986264,20.487002
27,Data.bis.org platform,100376.0,1181012,8.499152

### Срез по типу каталогов

In [19]:
df_catalog = conn.sql(""" 
    SELECT
        source.catalog_type, 
        SUM(CASE WHEN dataset.topics = [] THEN 1 END) as "Число датасетов без topics",
        COUNT(dataset.id) as "Число датасетов",
        (SUM(CASE WHEN dataset.topics = [] THEN 1 END))/(COUNT(dataset.id))*100 as "Доля без topics"
    FROM 'fulldb.parquet' 
    GROUP BY 1
    ORDER BY 4 DESC;
""").df()

df_catalog

,catalog_type,Число датасетов без topics,Число датасетов,Доля без topics
0,Machine learning catalog,5731.0,5731,100.000000
1,Microdata catalog,25891.0,25891,100.000000
2,General research repository,8708.0,8709,99.988518
3,Indicators catalog,6314434.0,9758998,64.703712
4,Open data portal,3760449.0,6041001,62.248773
5,Geoportal,2487803.0,5760127,43.190072
6,Scientific data repository,216605.0,502130,43.137235

## Проверка описаний

Всего **7 млн 486 тыс.** уникальных описаний для **22,1 млн** датасетов.

In [3]:
df_desc = conn.sql(""" 
        SELECT 
            dataset.description,
            COUNT(dataset.description)
        FROM 'fulldb.parquet' 
        GROUP BY 1
        ORDER BY 2 DESC;
""").df()

df_desc

FloatProgress(value=0.0, layout=Layout(width='auto'), style=ProgressStyle(bar_color='black'))

,description,count(dataset.description)
0,,4791180
1,Mapas de previsão tri-horária da temperatura d...,85149
2,The Adjusted Gender Parity Index (GPIA) is cal...,77792
3,Total transfer amount received by all benefici...,68600
4,The Adjusted Location Parity Index (LPIA) is c...,59296
...,...,...
7485920,Employment Land Audit 2017 (Moray),1
7485921,"<DIV STYLE=""text-align:Left;""><DIV><DIV><P><SP...",1
7485922,Layer-Group type layer: planning_sustainabilit...,1
7485923,Layer-Group type layer: flooding:rofsw_1_in_1000,1
7485924,Layer-Group type layer: gm_joint_minerals_plan...,1

**1 млн 849 тыс.** описаний датасетов повторяются (встречаются больше одного раза).

In [4]:
df_dubldesc = conn.sql(""" 
        SELECT dataset.description 
        FROM 'fulldb.parquet' 
        GROUP BY dataset.description 
        HAVING COUNT(dataset.description)>1;
""").df()

df_dubldesc

FloatProgress(value=0.0, layout=Layout(width='auto'), style=ProgressStyle(bar_color='black'))

                                               description
0        This sepietta oweniana Species Distribution Ma...
1        This Mirounga Leonina Species Distribution Map...
2        This Etmopterus Gracilispinis Species Distribu...
3        This mallotus villosus Species Distribution Ma...
4        This Tetraplatia Volitans Species Distribution...
...                                                    ...
1849381  4.1.4b: From 2019 onwards, has the government ...
1849382  Question 1.1.8b: From 2015 onwards, have the b...
1849383  Question 1.1.9a: Is the government required to...
1849384  Question 1.4.5d: Does the SOE's most recent pu...
1849385  Euro area (changing composition), reporting in...

[1849386 rows x 1 columns]

Посчитаем число повторяющихся описаний, длина которых больше 1000 символов. Таких описаний чуть более **104 тыс.**

In [23]:
df_toobig_desc = conn.sql("""
    SELECT 
        source.uid,
        source.name,
        dataset.description,
        COUNT(dataset.description),
        LENGTH(dataset.description)
    FROM 'fulldb.parquet'
    WHERE LENGTH(dataset.description) > 1000
    GROUP BY 1, 2, 3
    HAVING COUNT(dataset.description)>1
    ORDER BY 4 DESC, 5 DESC;
""").df()

df_toobig_desc

FloatProgress(value=0.0, layout=Layout(width='auto'), style=ProgressStyle(bar_color='black'))

,uid,name,description,count(dataset.description),length(dataset.description)
0,cdi00004185,World Bank Open Data,The number of persons in the relevant age grou...,44064,1092
1,cdi00000229,Dados Abertos TCE-RS,A Despesa Orçamentária por empenhos contém dad...,19853,2542
2,cdi00000229,Dados Abertos TCE-RS,O Balancete de receita contém dados relativos ...,18783,1051
3,cdi00000229,Dados Abertos TCE-RS,O Balancete de despesa contém dados relativos ...,15817,2234
4,cdi00001616,The Home of the U.S. Government Open Data,The TIGER/Line shapefiles and related database...,9704,1284
...,...,...,...,...,...
104548,cdi00001616,The Home of the U.S. Government Open Data,The RE-Powering Screening Dataset spreadsheet ...,2,1001
104549,cdi00004456,NERC Data catalogue service,Daily concatenated files of ceilometer cloud b...,2,1001
104550,cdi00000074,Geoscience Australia geonetwork,"The radiometric, or gamma-ray spectrometric me...",2,1001
104551,cdi00001227,GeoData.nz,Raster chart image of: NZ 21 Norfolk Island to...,2,1001
104552,temp00004800,data.amerigeoss.org,As minimum cost will be required for a dedicat...,2,1001

Добавим метрики про заполненность поля **topics**.

In [26]:
df_toobig_desc_topics = conn.sql("""
    SELECT 
        source.uid,
        source.name as source_name,
        dataset.description,
        COUNT(dataset.description),
        LENGTH(dataset.description),
        SUM(CASE WHEN dataset.topics = [] THEN 1 ELSE 0 END) as "Число датасетов без topics",
        COUNT(dataset.id) as "Число датасетов",
        (SUM(CASE WHEN dataset.topics = [] THEN 1 ELSE 0 END))/(COUNT(dataset.id))*100 as "Доля без topics"
    FROM 'fulldb.parquet'
    WHERE LENGTH(dataset.description) > 1000
    GROUP BY 1, 2, 3
    HAVING COUNT(dataset.description)>1
    ORDER BY 7 DESC, 8 DESC;
""").df()

df_toobig_desc_topics

FloatProgress(value=0.0, layout=Layout(width='auto'), style=ProgressStyle(bar_color='black'))

,uid,source_name,description,count(dataset.description),length(dataset.description),Число датасетов без topics,Число датасетов,Доля без topics
0,cdi00004185,World Bank Open Data,The number of persons in the relevant age grou...,44064,1092,44064.0,44064,100.0
1,cdi00000229,Dados Abertos TCE-RS,A Despesa Orçamentária por empenhos contém dad...,19853,2542,0.0,19853,0.0
2,cdi00000229,Dados Abertos TCE-RS,O Balancete de receita contém dados relativos ...,18783,1051,0.0,18783,0.0
3,cdi00000229,Dados Abertos TCE-RS,O Balancete de despesa contém dados relativos ...,15817,2234,0.0,15817,0.0
4,cdi00001616,The Home of the U.S. Government Open Data,The TIGER/Line shapefiles and related database...,9704,1284,9704.0,9704,100.0
...,...,...,...,...,...,...,...,...
104548,temp00003554,ide.cat,Plano de Olot is a dataset that is presented a...,2,1018,0.0,2,0.0
104549,temp00003554,ide.cat,En el marc del Pla de gestió del districte de ...,2,2446,0.0,2,0.0
104550,temp00004800,data.amerigeoss.org,The Maquoketa River carries some of the highes...,2,1540,0.0,2,0.0
104551,temp00004800,data.amerigeoss.org,"In 1989, the U.S. Geological Survey (USGS) beg...",2,1784,0.0,2,0.0
104552,temp00004800,data.amerigeoss.org,This dataset was created for the Appalachian T...,2,1381,0.0,2,0.0

Проверим метрику заполненности поля **topics** для датасетов с большими (>1000 символов) и повторяющимися описаниями

In [32]:
df_notopic_toobig_desc_dubl = conn.sql("""
    SELECT 
        source.name,
        source.url,
        COUNT(dataset.id) as "num_datasets",
        SUM(CASE WHEN dataset.topics = [] THEN 1 END) as "num_nocat_datasets",
        (SUM(CASE WHEN dataset.topics = [] THEN 1 END))/(COUNT(dataset.id))*100 as "percent_no_topics"
    FROM 'fulldb.parquet'
    WHERE LENGTH(dataset.description) > 1000
        AND dataset.description IN (SELECT dataset.description 
                                    FROM 'fulldb.parquet' 
                                GROUP BY dataset.description 
                                    HAVING count(dataset.description)>1)
    GROUP BY 1, 2
    ORDER BY 4 DESC, 5 DESC;
""").df()

df_notopic_toobig_desc_dubl

FloatProgress(value=0.0, layout=Layout(width='auto'), style=ProgressStyle(bar_color='black'))

,name,url,num_datasets,num_nocat_datasets,percent_no_topics
0,World Bank Open Data,https://data.worldbank.org,201910,98152.0,48.611758
1,The Home of the U.S. Government Open Data,https://catalog.data.gov,118663,95464.0,80.449677
2,data.amerigeoss.org,https://data.amerigeoss.org,94275,75786.0,80.388226
3,NETL Energy Data eXchange,https://edx.netl.doe.gov,78532,59749.0,76.082361
4,B2FIND,https://b2find.eudat.eu,29680,20981.0,70.690701
...,...,...,...,...,...
2001,Unification for Underground Resilience Measure...,https://unification-for-underground-resilience...,1,NaN,NaN
2002,NCR GDX Hub Site,https://home-ncrgdx.hub.arcgis.com/,2,NaN,NaN
2003,Hudson County GIS,https://hudson-county-gis-hudsoncogis.hub.arcg...,5,NaN,NaN
2004,RLIS Discovery,https://rlis-discovery-drcmetro.hub.arcgis.com/,3,NaN,NaN
2005,metadatatest.dcjm.be,https://metadatatest.dcjm.be,2,NaN,NaN

Посчитаем число повторяющихся описаний, длина которых больше или равна 1 и меньше 100 символов. Таких описаний чуть более **313 тыс.**

In [28]:
df_toosmall_desc = conn.sql("""
    SELECT
        source.uid,
        source.name,
        dataset.description,
        COUNT(dataset.description),
        LENGTH(dataset.description)
    FROM 'fulldb.parquet'
    WHERE LENGTH(dataset.description) >= 1 AND LENGTH(dataset.description) <= 100
    GROUP BY 1, 2, 3
    HAVING COUNT(dataset.description)>1
    ORDER BY 4 DESC, 5 DESC;
""").df()

df_toosmall_desc

FloatProgress(value=0.0, layout=Layout(width='auto'), style=ProgressStyle(bar_color='black'))

,uid,name,description,count(dataset.description),length(dataset.description)
0,cdi00001417,ГИС-портал Спутникового Центра ДВО РАН,NOAA 18 level0 data,52864,19
1,cdi00001417,ГИС-портал Спутникового Центра ДВО РАН,NOAA 15 level0 data,44917,19
2,cdi00001417,ГИС-портал Спутникового Центра ДВО РАН,NOAA 19 level0 data,42914,19
3,cdi00000055,Offene Daten Österreich | data.gv.at,Rechnungsabschluss der Gemeinde - Einnahmen un...,36011,56
4,cdi00002151,Italian Antarctic Data Center,Metamorphic rock,22588,16
...,...,...,...,...,...
313469,temp00003837,www.nationaalgeoregister.nl,0,2,1
313470,temp00001428,vmgeoserver.vd.dk,.,2,1
313471,cdi00004454,Metainformationssystem GDI-BW,-,2,1
313472,temp00004682,data.jatengprov.go.id,c,2,1
313473,temp00003837,www.nationaalgeoregister.nl,-,2,1

Проверим метрику заполненности поля **topics** для датасетов с короткими (от 1 до 100 символов) и повторяющимися описаниями

In [29]:
df_toosmall_desc_topics = conn.sql("""
    SELECT
        source.uid,
        source.name,
        dataset.description,
        COUNT(dataset.description),
        LENGTH(dataset.description),
        SUM(CASE WHEN dataset.topics = [] THEN 1 ELSE 0 END) as "Число датасетов без topics",
        COUNT(dataset.id) as "Число датасетов",
        (SUM(CASE WHEN dataset.topics = [] THEN 1 ELSE 0 END))/(COUNT(dataset.id))*100 as "Доля без topics"
    FROM 'fulldb.parquet'
    WHERE LENGTH(dataset.description) >= 1 AND LENGTH(dataset.description) <= 100
    GROUP BY 1, 2, 3
    HAVING COUNT(dataset.description)>1
    ORDER BY 7 DESC, 8 DESC;
""").df()

df_toosmall_desc_topics

FloatProgress(value=0.0, layout=Layout(width='auto'), style=ProgressStyle(bar_color='black'))

,uid,name,description,count(dataset.description),length(dataset.description),Число датасетов без topics,Число датасетов,Доля без topics
0,cdi00001417,ГИС-портал Спутникового Центра ДВО РАН,NOAA 18 level0 data,52864,19,0.0,52864,0.0
1,cdi00001417,ГИС-портал Спутникового Центра ДВО РАН,NOAA 15 level0 data,44917,19,0.0,44917,0.0
2,cdi00001417,ГИС-портал Спутникового Центра ДВО РАН,NOAA 19 level0 data,42914,19,0.0,42914,0.0
3,cdi00000055,Offene Daten Österreich | data.gv.at,Rechnungsabschluss der Gemeinde - Einnahmen un...,36011,56,0.0,36011,0.0
4,cdi00002151,Italian Antarctic Data Center,Metamorphic rock,22588,16,22588.0,22588,100.0
...,...,...,...,...,...,...,...,...
313469,temp00004800,data.amerigeoss.org,Water well construction data collected since A...,2,83,0.0,2,0.0
313470,temp00004800,data.amerigeoss.org,Timeseries data from 'Gakona River at Tok Cuto...,2,96,0.0,2,0.0
313471,temp00002729,catalogue.doterr.fr,Maisons de Santé Pluridisciplinaires en Région...,2,53,0.0,2,0.0
313472,temp00004800,data.amerigeoss.org,Timeseries data from 'New River near Lake Butl...,2,99,0.0,2,0.0
313473,temp00004800,data.amerigeoss.org,Timeseries data from 'Montana Creek at Parks H...,2,100,0.0,2,0.0

Проверим описания длиной 1 символ. Нам пригодятся эти данные для очистки и повышения качества метаданных.
Добавим метрики про заполненность **topics**.

In [31]:
df_1symboldesc = conn.sql("""
    SELECT 
        source.uid,
        source.name,
        dataset.description,
        COUNT(dataset.description),
        LENGTH(dataset.description),
        SUM(CASE WHEN dataset.topics = [] THEN 1 ELSE 0 END) as "Число датасетов без topics",
        COUNT(dataset.id) as "Число датасетов",
        (SUM(CASE WHEN dataset.topics = [] THEN 1 ELSE 0 END))/(COUNT(dataset.id))*100 as "Доля без topics"
    FROM 'fulldb.parquet'
    WHERE LENGTH(dataset.description) = 1
    GROUP BY 1, 2, 3
    ORDER BY 7 DESC, 8 DESC;
""").df()

df_1symboldesc

FloatProgress(value=0.0, layout=Layout(width='auto'), style=ProgressStyle(bar_color='black'))

,uid,name,description,count(dataset.description),length(dataset.description),Число датасетов без topics,Число датасетов,Доля без topics
0,cdi00000901,Portal Satu Data Indonesia,-,11375,1,11014.0,11375,96.826374
1,cdi00000998,Japan e-gov data portal,,6664,1,2183.0,6664,32.758103
2,cdi00000999,環境データショーケース,,1106,1,111.0,1106,10.036166
3,cdi00000420,The Spatial Data Infrastructure Germany (SDI G...,:,641,1,641.0,641,100.000000
4,temp00004800,data.amerigeoss.org,,626,1,625.0,626,99.840256
...,...,...,...,...,...,...,...,...
171,temp00004099,askdata.rks-gov.net,n,1,1,0.0,1,0.000000
172,cdi00002157,Sardegna Geoportale,0,1,1,0.0,1,0.000000
173,cdi00002064,Open Data Portal Metropole Ruhr,,1,1,0.0,1,0.000000
174,cdi00004154,www.datagrandest.fr,_,1,1,0.0,1,0.000000
175,cdi00002704,Middlesbrough Council Open Data,.,1,1,0.0,1,0.000000

Проверим метрику заполненности поля **topics** для датасетов длиной 1 символ, которые повторяются между датасетами

In [ ]:
df_notopic_toosmall_desc_dubl = conn.sql("""
    SELECT 
        source.name,
        source.url,
        COUNT(dataset.id) as "num_datasets",
        SUM(CASE WHEN dataset.topics = [] THEN 1 END) as "num_nocat_datasets",
        (SUM(CASE WHEN dataset.topics = [] THEN 1 END))/(COUNT(dataset.id))*100 as "percent_no_topics"
    FROM 'fulldb.parquet'
    WHERE LENGTH(dataset.description) = 1
        AND dataset.description IN (SELECT dataset.description 
                                    FROM 'fulldb.parquet' 
                                GROUP BY dataset.description 
                                    HAVING count(dataset.description)>1)
    GROUP BY 1, 2
    ORDER BY 4 DESC, 5 DESC;
""").df()

df_notopic_toosmall_desc_dubl

FloatProgress(value=0.0, layout=Layout(width='auto'), style=ProgressStyle(bar_color='black'))

,name,url,num_datasets,num_nocat_datasets,percent_no_topics
0,Portal Satu Data Indonesia,https://katalog.data.go.id,145467,142626.0,98.046980
1,data.jatengprov.go.id,https://data.jatengprov.go.id,123619,122748.0,99.295416
2,dataportal.asia,https://dataportal.asia,105091,96175.0,91.515924
3,World Bank Open Data,https://data.worldbank.org,244892,94071.0,38.413260
4,ECB Data portal,https://data.ecb.europa.eu,88109,88109.0,100.000000
...,...,...,...,...,...
3626,Mfe Data Service,https://data.mfe.govt.nz,9,NaN,NaN
3627,Cary NC Open Data Portal,https://data.townofcary.org,4,NaN,NaN
3628,CarrefourGéo Ontario,https://ontariogeohub-fr-lio.opendata.arcgis.com/,2,NaN,NaN
3629,NatureScot Spatial Data Hub,https://opendata.nature.scot/,4,NaN,NaN
3630,metadata.arice-h2020.eu,https://metadata.arice-h2020.eu/geonetwork,2,NaN,NaN

### Ищем несодержательные плохие описания
Первое приближение. Использование регулярных выражений.

Напишем проверку с помощью регулярного выражения: ищем описания, где один символ повторяется 3 и более раз. Символы могут быть буквенные, числовые и иные специальные.

Дисклеймер 1: числа (денежные значения) могут иметь повторяющиеся символы, например, 0, поэтому этот способ не идеален, но можно получить выборку для анализа и использования в повышении качества описаний.

Дисклеймер 2: не получается продемонстрировать использование регулярного выражения на таблице, где есть поля source.uid, source.name, source.url -- Out of Memory. Эти поля полезны для знания, где искать подобные датасеты

In [2]:
#вытащим все уникальные описания датасетов и посчитаем их количество
df_s = conn.sql(""" 
        SELECT 
            -- source.uid,
            -- source.name,
            -- source.url,
            dataset.description,
            LENGTH(dataset.description),
            COUNT(dataset.id)
        FROM 'fulldb.parquet'
        WHERE dataset.description IS NOT NULL
        GROUP BY 1
        ORDER BY 3 DESC, 2 DESC;
""").df()

df_s

FloatProgress(value=0.0, layout=Layout(width='auto'), style=ProgressStyle(bar_color='black'))

,description,length(dataset.description),count(dataset.id)
0,,0,4791180
1,Mapas de previsão tri-horária da temperatura d...,202,85149
2,The Adjusted Gender Parity Index (GPIA) is cal...,599,77792
3,Total transfer amount received by all benefici...,136,68600
4,The Adjusted Location Parity Index (LPIA) is c...,629,59296
...,...,...,...
7485920,м,1,1
7485921,t,1,1
7485922,_,1,1
7485923,I,1,1
7485924,R,1,1

Используем регулярное выражение **r'((.)\2{3,})'** и маску для фильтрации датафрема -- остались описания с повторяющимися символами.

In [3]:
# 3 и более повторяющихся символа
mask = df_s.description.str.match(r'((.)\2{3,})')
df_s[mask]

,description,length(dataset.description),count(dataset.id)
596,99999: No clouds detected,25,986
2069,####2015年農林業センサスの農業集落別集計結果です。\n####調査対象数が2以下の場...,578,282
4939,######工学的基盤（Vs=350～700m/s相当層）における強震動(加速度)波形データ...,194,259
11910,99999: No clouds detected; Version 1 with some...,129,61
14347,####【農業基盤情報基礎調査】：平成27年農業基盤情報基礎調査の結果をもとに、2015年農...,833,47
...,...,...,...
7484234,bbbbb,5,1
7484270,DDDD,4,1
7484402,XXXX,4,1
7484834,jjjj,4,1
7484847,1111,4,1

## Разметка языка датасетов

Источники (source) имеют размеченный язык в поле **source.langs**. 
Что если источник может быть англоязычным, а датасет на другом языке?

Используя библиотеку **langdetect**, проверим на **100 тыс.** описаний датасетов.

In [6]:
#оставляю 1 млн описаний датасетов
df_cut = df_s[:100000]

In [7]:
import pandas as pd
from langdetect import detect, DetectorFactory

DetectorFactory.seed = 0


# Функция для определения языка
def detect_language(text):
    try:
        return detect(text)
    except:
        return 'unknown'

# Создаём новый столбец с кодом языка
df_cut['dataset.language'] = df_cut['description'].apply(detect_language)

# Просмотр результата
print(df_cut[['description', 'dataset.language']].head())

                                         description dataset.language
0                                                             unknown
1  Mapas de previsão tri-horária da temperatura d...               pt
2  The Adjusted Gender Parity Index (GPIA) is cal...               en
3  Total transfer amount received by all benefici...               en
4  The Adjusted Location Parity Index (LPIA) is c...               en

C:\Users\Kseniya\AppData\Local\Temp\ipykernel_22004\2223942196.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cut['dataset.language'] = df_cut['description'].apply(detect_language)

In [8]:
#просмотр таблицы с размеченным языком для каждого описания
df_cut

,description,length(dataset.description),count(dataset.id),dataset.language
0,,0,4791180,unknown
1,Mapas de previsão tri-horária da temperatura d...,202,85149,pt
2,The Adjusted Gender Parity Index (GPIA) is cal...,599,77792,en
3,Total transfer amount received by all benefici...,136,68600,en
4,The Adjusted Location Parity Index (LPIA) is c...,629,59296,en
...,...,...,...,...
99995,Surveys were carried out in targeted shallow s...,2246,6,en
99996,The CalFish Abundance Database contains a comp...,2246,6,en
99997,"During August 2005, sediment was collected fro...",2244,6,en
99998,"This accession includes physical, chemical, op...",2243,6,en
99999,This is version 1.0.4.2015p of HadISD (27 Apri...,2243,6,en

**langdetected** разметила описания двубуквенным значением, например, "en", используя стандарт ISO 639, добавим расшифровку языка.

In [9]:
import pandas as pd

#чтение файла с расшифровкой кодов языка
df_excel = pd.read_excel('List_of_ISO_639_language_codes.xlsx') 

#объединение таблиц по двубуквенному коду языка
df_merged = df_cut.merge(df_excel, how='left', on='dataset.language')

#просмотр таблицы
df_merged

,description,length(dataset.description),count(dataset.id),dataset.language,ISO Language Names
0,,0,4791180,unknown,NaN
1,Mapas de previsão tri-horária da temperatura d...,202,85149,pt,Portuguese
2,The Adjusted Gender Parity Index (GPIA) is cal...,599,77792,en,English
3,Total transfer amount received by all benefici...,136,68600,en,English
4,The Adjusted Location Parity Index (LPIA) is c...,629,59296,en,English
...,...,...,...,...,...
99995,Surveys were carried out in targeted shallow s...,2246,6,en,English
99996,The CalFish Abundance Database contains a comp...,2246,6,en,English
99997,"During August 2005, sediment was collected fro...",2244,6,en,English
99998,"This accession includes physical, chemical, op...",2243,6,en,English
99999,This is version 1.0.4.2015p of HadISD (27 Apri...,2243,6,en,English

Просмотрим, какие языки встречаются чаще всего.

In [15]:
grouped_counts = df_merged.groupby('ISO Language Names').size().sort_values(ascending=False)
grouped_counts

ISO Language Names
English                            410401
German                             385916
Indonesian                          55288
French                              33581
Spanish , Castilian                 26599
Portuguese                          16339
Dutch , Flemish                     15071
Italian                              9306
Thai                                 7893
Korean                               7234
Japanese                             3635
Norwegian                            3241
Catalan , Valencian                  2792
Finnish                              2527
Greek , Modern (1453–)               2381
Danish                               2089
Swedish                              1995
Polish                               1394
Czech                                1147
Slovak                               1037
Tagalog                              1035
Ukrainian                            1005
Estonian                              894
Afrikaans                             738
Somali                                708
Croatian                              638
Romanian , Moldavian , Moldovan       615
Vietnamese                            593
Slovenian                             383
Russian                               358
Welsh                                 186
Hungarian                             169
Swahili                               154
Lithuanian                            138
Hebrew                                136
Albanian                              118
Turkish                               109
Persian                                78
Latvian                                70
Bulgarian                              46
Arabic                                 11
Macedonian                             11
Nepali                                  2
dtype: int64

Сравним с результатом, который получится, по 100 тыс. случайным датасетом, язык который размечен по источнику.

In [10]:
df_language = conn.sql("""
    SELECT 
        source.name,
        source.url,
        (source.langs::json->0->>'name') as lang,
        dataset.description,
        COUNT(dataset.id) as "num_datasets",
    FROM 'fulldb.parquet'
    WHERE LENGTH(dataset.description) >=1
    GROUP BY 1, 2, 3, 4
    ORDER BY 5 DESC
    LIMIT 100000;
""").df()

df_language

FloatProgress(value=0.0, layout=Layout(width='auto'), style=ProgressStyle(bar_color='black'))

,name,url,lang,description,num_datasets
0,SIMOcean Catalogue,http://catalogue.simocean.pt,English,Mapas de previsão tri-horária da temperatura d...,85149
1,World Bank Open Data,https://data.worldbank.org,English,The Adjusted Gender Parity Index (GPIA) is cal...,77792
2,World Bank Open Data,https://data.worldbank.org,English,Total transfer amount received by all benefici...,68600
3,World Bank Open Data,https://data.worldbank.org,English,The Adjusted Location Parity Index (LPIA) is c...,59296
4,World Bank Open Data,https://data.worldbank.org,English,Percentage of program beneficiaries in a quint...,58520
...,...,...,...,...,...
99995,BIS Data Portal,https://data.bis.org,English,Banks from All reporting countries - Consolida...,5
99996,The Spatial Data Infrastructure Germany (SDI G...,https://gdk.gdi-de.org/gdi-de,German,Satzung der Stadt Wittenburg über die Festlegu...,5
99997,www.geoportal-bw.de,https://www.geoportal-bw.de/geonetwork,German,WMS-Dienst des nach INSPIRE transformierten Be...,5
99998,data.amerigeoss.org,https://data.amerigeoss.org,None,Taxa de mortalidade da internação hospitalar,5
99999,The Home of the U.S. Government Open Data,https://catalog.data.gov,English,The shapefiles depict the valley bottom areas ...,5

In [11]:
df_langsource = df_language.groupby('lang').size().sort_values(ascending=False)
df_langsource

lang
English       53498
German        24235
Spanish        4012
French         2827
Indonesian     1890
Portugal        985
Dutch           775
Italian         667
Japanese        494
Thai            415
Czech           378
Ukrainian       240
Arabic          239
Greek           154
Swedish         147
Polish          142
Danish          103
Chinese          95
Russian          88
Slovak           79
Serbian          62
Norwegian        62
Finnish          60
Croatian         53
Icelandic        50
Romanian         39
Persian          33
Hebrew           30
Lithuanian       30
Estonian         19
Slovenian        16
Hungarian        13
Mongolian        13
Korean            8
Bulgarian         6
Albanian          6
Latvian           6
Turkish           5
Lao               4
Bengali           4
Malay             3
Catalan           1
Makedonian        1
Tagalog           1
dtype: int64

В целом, так как использовались 100 тыс. случайных датасетов, можно сказать, что результаты по языку сопоставимы с распознаванием языка по описаниям с помощью langdetect.

Посмотрим, каким языком размечены источники во всей таблицы.

In [2]:
df_language = conn.sql("""
    SELECT 
        source.name,
        source.url,
        (source.langs::json->0->>'name') as lang,
        COUNT(dataset.id) as "num_datasets"
    FROM 'fulldb.parquet'
    WHERE LENGTH(dataset.description) >=1
    GROUP BY 1, 2, 3
    ORDER BY 4 DESC;
""").df()

df_language

FloatProgress(value=0.0, layout=Layout(width='auto'), style=ProgressStyle(bar_color='black'))

,name,url,lang,num_datasets
0,World Bank Open Data,https://data.worldbank.org,English,2987179
1,ECB Data portal,https://data.ecb.europa.eu,English,2296567
2,BIS Data Portal,https://data.bis.org,English,1181012
3,B2FIND,https://b2find.eudat.eu,English,1127371
4,Metainformationssystem GDI-BW,https://metadaten.geoportal-bw.de/geonetwork,German,735384
...,...,...,...,...
4690,mpi_nes.cloud.eaglegis.co.nz,https://mpi_nes.cloud.eaglegis.co.nz/arcgis/re...,English,1
4691,map.geomatick.com,https://map.geomatick.com/geoserver,English,1
4692,smartmap.ccom.unh.edu,https://smartmap.ccom.unh.edu/geoserver,English,1
4693,nurnet.crs4.it,http://nurnet.crs4.it/geoserver,Italian,1
4694,gestion4-idearagon.aragon.es,https://gestion4-idearagon.aragon.es/geoserver,Spanish,1

Посмотрим полный срез по языка по всем датасетам таблицы.

In [5]:
df_language_all = conn.sql("""
    SELECT 
        (source.langs::json->0->>'name') as lang,
        COUNT(dataset.id) as "num_datasets",
        (COUNT(dataset.id))/(22102587)*100 as "%"
    FROM 'fulldb.parquet'
    GROUP BY 1
    ORDER BY 2 DESC, 3 DESC;
""").df()

df_language_all

FloatProgress(value=0.0, layout=Layout(width='auto'), style=ProgressStyle(bar_color='black'))

           lang  num_datasets          %
0       English      14854490  67.207020
1        German       3083204  13.949516
2          None       1060798   4.799429
3    Indonesian        553017   2.502046
4       Spanish        463690   2.097899
5        French        385284   1.743162
6         Dutch        269393   1.218830
7      Portugal        253267   1.145870
8       Russian        229152   1.036766
9       Italian        168651   0.763037
10       Polish        144730   0.654810
11         Thai         81360   0.368102
12     Japanese         72137   0.326374
13        Greek         58156   0.263119
14      Finnish         48103   0.217635
15        Czech         37743   0.170763
16      Chinese         36575   0.165478
17    Ukrainian         34957   0.158158
18       Arabic         30999   0.140251
19    Norwegian         25727   0.116398
20      Swedish         23328   0.105544
21       Danish         22063   0.099821
22       Hebrew         15901   0.071942
23     Estonian         15493   0.070096
24       Slovak         14365   0.064992
25   Vietnamese         11383   0.051501
26      Latvian         11297   0.051112
27      Serbian         11027   0.049890
28    Mongolian         10814   0.048926
29     Romanian          8875   0.040154
30    Slovenian          8815   0.039882
31   Makedonian          8286   0.037489
32    Icelandic          7920   0.035833
33   Lithuanian          7739   0.035014
34    Hungarian          4694   0.021237
35      Persian          4242   0.019192
36      Turkish          3809   0.017233
37     Croatian          3770   0.017057
38       Korean          3526   0.015953
39    Bulgarian          3382   0.015301
40        Malay          2885   0.013053
41      Bengali          1643   0.007434
42      Englisj          1579   0.007144
43          Lao           921   0.004167
44     Albanian           808   0.003656
45        Uzbek           721   0.003262
46     Georgian           649   0.002936
47     Ethiopia           567   0.002565
48     Dzongkha           214   0.000968
49      Catalan           155   0.000701
50      Tagalog           102   0.000461
51     Armenian           101   0.000457
52  Azerbaijani            80   0.000362

## Срезы данных по форматам, типам данных, периодам и частоте обновлений

Дисклеймер: метод *unnest(dataset.formats/datatypes)* -- не дает отработать на всем массиве данных, поэтому тут стоит ограничение **1 млн**.

Срез по форматам данных

In [5]:
df_formats = conn.sql("""
    WITH t1 AS 
        (SELECT
            unnest(dataset.formats) as elem
        FROM 'fulldb.parquet'
        LIMIT 1000000)
    
    SELECT 
        elem,
        COUNT(*) as "Число датасетов"
    FROM t1
    GROUP BY 1
    ORDER BY 2 DESC;
""").df()

df_formats

FloatProgress(value=0.0, layout=Layout(width='auto'), style=ProgressStyle(bar_color='black'))

      elem  Число датасетов
0    .json           158445
1     .csv           146193
2     .pdf           136755
3     .zip           118099
4    .docx            85668
..     ...              ...
155   .raw                1
156    .bz                1
157   .3ds                1
158   .vtu                1
159   .psd                1

[160 rows x 2 columns]

Срез по типам данных

In [6]:
df_datatypes = conn.sql("""
    WITH t1 AS 
        (SELECT
            unnest(dataset.datatypes) as elem
        FROM 'fulldb.parquet'
        LIMIT 1000000)
    
    SELECT 
        elem,
        COUNT(*) as "Число датасетов"
    FROM t1
    GROUP BY 1
    ORDER BY 2 DESC;
""").df()

df_datatypes

FloatProgress(value=0.0, layout=Layout(width='auto'), style=ProgressStyle(bar_color='black'))

          elem  Число датасетов
0         data           339344
1    documents           261870
2     archives           143253
3        other            89287
4      geodata            71156
5       images            67196
6       semweb            14174
7         code            11726
8   statistics             1103
9        video              477
10    software              230
11       audio              184

Срез по частоте обновлений

In [7]:
df_frequency = conn.sql("""
    SELECT
        dataset.frequency as elem,
        COUNT(*)
    FROM 'fulldb.parquet'
    GROUP BY 1
    ORDER BY 2 DESC;
    
""").df()

df_frequency

                   elem  count_star()
0                  None      18626616
1                Annual       1360651
2             Quarterly        894751
3               Monthly        870394
4                Hourly        349453
5  Daily - businessweek           377
6                 Daily           310
7                Weekly            35

**18,6 млн** или **84,27%** датасетов не имеют значения в поле **frequency** - частота обновления

Срез по периодам (временным рядам)

In [8]:
df_years = conn.sql("""
    SELECT
        dataset.year_range as elem,
        COUNT(*)
    FROM 'fulldb.parquet'
    GROUP BY 1
    ORDER BY 2 DESC;
    
""").df()

df_years

                                      elem  count_star()
0                                     <NA>      18626616
1         {'start': '2020', 'end': '2024'}        562942
2         {'start': '1995', 'end': '2022'}        200406
3         {'start': '2022', 'end': '2023'}        126332
4     {'start': '"2022"', 'end': '"2022"'}        120376
...                                    ...           ...
2127      {'start': '1987', 'end': '2025'}             1
2128  {'start': '"2003"', 'end': '"2011"'}             1
2129  {'start': '"1990"', 'end': '"2017"'}             1
2130  {'start': '"1984"', 'end': '"2016"'}             1
2131  {'start': '"1971"', 'end': '"2019"'}             1

[2132 rows x 2 columns]

Точное совпадение по числу датасетов, не имеющих узказанного временного периода: те же **18,6 млн** или **84,27%** датасетов не имеют значения в поле **year_range**.
Полагаю, что есть прямая связь между заполнением временного периода и указания частоты обновления датасета.

In [ ]:
# Разворачиваем начало и конец временного периода в отдельные колонки
elem_expanded = df_years['elem'].apply(pd.Series)

# Если в значениях есть кавычки, уберём их
elem_expanded = elem_expanded.applymap(lambda x: x.strip('"') if isinstance(x, str) else x)

# Объединяем с исходным DataFrame, сохраняя колонку с количеством
result = pd.concat([elem_expanded, df_years['count_star()']], axis=1)

print(result)

         0 start   end  count_star()
0     <NA>   NaN   NaN      18626616
1      NaN  2020  2024        562942
2      NaN  1995  2022        200406
3      NaN  2022  2023        126332
4      NaN  2022  2022        120376
...    ...   ...   ...           ...
2127   NaN  1987  2025             1
2128   NaN  2003  2011             1
2129   NaN  1990  2017             1
2130   NaN  1984  2016             1
2131   NaN  1971  2019             1

[2132 rows x 4 columns]

C:\Users\Kseniya\AppData\Local\Temp\ipykernel_16412\72102183.py:5: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  elem_expanded = elem_expanded.applymap(lambda x: x.strip('"') if isinstance(x, str) else x)

Срез по началу временного периода для датасетов, где поле year_range заполнено

In [12]:
df_start = result.groupby('start')['count_star()'].sum().sort_values(ascending=False)
df_start

start
2020          594397
2022          318413
1995          303321
2014          255842
2009          162538
               ...
1914               1
1935               1
1942               1
1999-04-09         1
2000-06-28         1
Name: count_star(), Length: 146, dtype: int64

Срез по концу временного периода для датасетов, где поле year_range заполнено

In [14]:
df_end = result.groupby('end')['count_star()'].sum().sort_values(ascending=False)
df_end

end
2024          1366195
2022           623388
2023           607942
2021           197391
2014            63562
               ...
1961                1
2008-10-15          1
1982                1
1984                1
1981                1
Name: count_star(), Length: 79, dtype: int64